<!DOCTYPE html5>
{% load staticfiles %}
<html>
<head>
    <title>Pixelate Face</title>
    <script type="text/javascript" src="{% static "face/jquery-3.2.1.js" %}"></script>
    <script type="text/javascript" src="{% static "face/fabric.js" %}"></script>
    <script type="text/javascript" src="{% static "face/draw.js" %}"></script>
    <script type="text/javascript" src="{% static "face/jquery-ui.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "face/template.css" %}">
    <link rel="stylesheet" href="{% static "face/jquery-ui.css" %}">
</head>

<body>
<h1>Drawing Demo</h1>

<div class="container" id="d1">
<video class="video" width="640" height="360" id="v1" muted preload>
        <!-- <source src="http://127.0.0.1/0.ogv" type="video/ogg"> -->
        <source src="{{video_path}}" type="video/mp4">
        <!-- <source src="file:///Users/chengdewan/Code/videoAnnotator/cvAnnotator/example.mp4" type="video/mp4"> -->
        <!-- <source src="http://www.craftymind.com/factory/html5video/BigBuckBunny_640x360.ogv" type="video/ogg"> -->
        cannot load the video
</video>

<canvas class="canvas" id="c1"></canvas>

</div>

<div class="control" id="d2">
<table>
    <tr>
    <td><button type="button" id="button_play">Play</button></td>
    <td><button type="button" id="button_back">Back</button></td>
    <td><button type="button" id="button_forward">Forward</button></td>
    </tr>
</table>

<form action="/face/finish/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Finish">
</form>

<div id="vidprogress"></div>

</body>
</html>
