.container {
  margin: 40 auto;
  position: relative;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  /*background-color:rgba(200,100,50,0.2);*/
}

.controls {
  position: relative;
  top: 600;
}

.progressBar{
  position: relative;
  width: 100%;
  height: height: 10px;
  background-color: #000;
}

.timeBar{
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #ccc;
}